name: publish
on:
  push:
    tags:
      - v*
jobs:
  publish:
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: bigquery-emulator
            asset_name: bigquery-emulator-linux-amd64
            go-version: "1.21.5"
          - os: macos-latest
            artifact_name: bigquery-emulator
            asset_name: bigquery-emulator-darwin-amd64
            go-version: "1.21.5"

    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: setup Go ${{ matrix.go-version }}
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go-version }}
        cache: true
    - name: extract version from tags
      id: meta
      run: |
        echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}
    - uses: rui314/setup-mold@v1
    - name: cache for linux
      uses: actions/cache@v3
      if: runner.os == 'Linux'
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: cache for macOS
      uses: actions/cache@v3
      if: runner.os == 'macOS'
      with:
        path: |
          ~/Library/Caches/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: build
      run: make emulator/build
      env:
        VERSION: ${{ steps.meta.outputs.VERSION }}
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ${{ matrix.artifact_name }}
        asset_name: ${{ matrix.asset_name }}
        tag: ${{ github.ref }}
